extends baseEmail

block content
  p Hi #{firstName},
  
  p We're happy you signed up for Password Reset Flow App.To start exploring the Password Reset Flow app, please confirm your email address.
  
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Verify Now
  p If you already verified email,please ignore this email!